body{
    background-color: royalblue;
    text-align: center;
}
img{
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px black;
}
.container{
    border: transparent ;
    background-color: blue;
    margin: 20px;
    height: 150px;
    padding: 10px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.555);
}
.cnome{
    background-color: cornflowerblue;
    border: transparent;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.555);
    
}
.cplaca{
    background-color: cornflowerblue;
    border: transparent;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.555);
}
.ccarro{
    background-color: cornflowerblue;
    border: transparent;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.555);
}
.cdias{
    background-color: cornflowerblue;
    border: transparent;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.555);
}
.cdiaria{
    background-color: cornflowerblue;
    border: transparent;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.555);
}
.button{
    border: transparent;
    border-radius: 5px;
    padding-top: 20px;
    margin: 11px;
}